<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SmartStudent{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <script src="{{ url_for('serve_js', filename='Voice_feature.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('design_css', filename='style.css') }}">

  {% block head_css %}{% endblock %}
</head>
<body>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; Anthony Okoye | All rights reserved.</p>
  </footer>

</body>
</html>
